<!DOCTYPE html>
<html>
<head>
  <title>Pairforest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">

<h1>PairForest App</h1>

<%= link_to "All Products", products_path %> |
<%= link_to "Add a Product", new_product_path %>
<%= link_to "Sign up", new_user_path %>


<%= yield %>



  </div>
</body>
</html>
