<!DOCTYPE html>
<html>
<head>
  <title>Pairforest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>PairForest App</h1>

<%= link_to "All Products", products_path %> |
<%= link_to "Add a Product", new_product_path %>

<%= yield %>

</body>
</html>
